rouge-score
gitpython
sacrebleu
pyarrow
pandas
dill
urllib3
charset_normalizer
idna
wandb
scikit-learn==0.24.2
datasets==1.6.2
huggingface-hub==0.0.8
attrs
transformers==4.6.0
protobuf==3.20.0
jinja2
rank_bm25